
**

!package.json
!README.md
!LICENSE.txt
!dist/*.js
!util
!resources/config
!resources/Logo.png
!resources/icon.svg
!media
!webview/build/index.html
!webview/build/static/css/*.css
!webview/build/static/js/*.js
